@page
@model CrudUser.Pages.EliminarPaisModel
@{
}

<h3>Eliminar Pais</h3>
<hr />
<div class="card">
    <div class="card-body">
        <form method="post">

            <p>¿Esta seguro de eliminar el pais  : <b>@Model.Nombre</b>?</p>
            <a asp-page="paises" class="btn btn-secondary">Cancelar</a>
            <button class="btn btn-danger" type="submit">Eliminar</button>
        </form>
    </div>
</div>

          

